.searchContainer {
    display: flex;
    align-items: center;
    background: #F4F7FE;
    padding: 8px 15px;
    border-radius: 25px;
    gap: 5px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

/* Efecto visual cuando el usuario hace clic para escribir */
.searchContainer:focus-within {
    background: #ffffff;
    border: 1px solid #40ffff; /* Tu celeste neón de Fisikapp */
    box-shadow: 0px 4px 12px rgba(64, 255, 255, 0.1);
}

.searchIcon {
    color: #1B2559;
}

.searchInput {
    border: none;
    background: transparent;
    outline: none;
    color: #1B2559;
    font-size: 14px;
    width: 180px; /* Puedes subirlo a 200px si quieres que sea más largo */
}

.searchInput::placeholder {
    color: #A3AED0;
}