.tableContainer{
    background:#fff;
    border-radius:20px;
    padding:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.04);
    overflow:auto;
}
.customTable{
    width:100%;
    border-collapse:separate;
    border-spacing:0;
}
.customTable thead tr{
    background:#1B2559;
}

.customTable thead th{
    color:white;
    font-size:13px;
    font-weight:600;
    padding:18px 20px;
    text-transform:uppercase;
    border:none;
}

.customTable td{
    padding:22px 20px;
    color:#2B3674;
    font-size:15px;
    border-bottom:1px solid #F4F7FE;
    vertical-align:middle;
}

.customTable thead th:first-child{
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}

.customTable thead th:last-child{
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}

.customTable tbody tr{
    transition:.2s;
}

.customTable tbody tr:hover{
    background:#F8FAFC;
}

.customTable th:last-child{
    text-align: center;
    padding-left: 35px;
}

