/* ============================= */
/* LAYOUT GENERAL */
/* ============================= */
.layout {
    background-color: var(--color-principal);
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    
    position: relative;
    overflow: hidden;
}

/* ============================= */
/* COLUMNA IZQUIERDA  (LOGO)*/
/* ============================= */
.brandColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #142050;
    padding: 40px;
}

.logo {
    width: 100%;
    max-width: 350px;
}

.brandTagline {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.4;
}

/* ============================= */
/*  COLUMNA DERECHA (FORMULARIO) */
/* ============================= */
.formColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*padding: 60px 20px;*/
    padding: 30px 15px;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--fondo-principal);
}

/* Scroll */
.formColumn::-webkit-scrollbar {
    width: 5px;
}

.formColumn::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* ============================= */
/* FONDO ANIMADO (PARTÍCULAS) */
/* ============================= */
.layout::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-image: 
        radial-gradient(1.5px 1.5px at 25% 25%, #ffffff, transparent),
        radial-gradient(2px 2px at 75% 75%, #39add7, transparent),
        radial-gradient(1px 1px at 50% 10%, #ffffff, transparent);
    background-size: 250px 250px;
    opacity: 0.7;
    animation: movimientoAtomico 60s linear infinite;
    pointer-events: none; 
    z-index: 1;
}

.layout::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-image: 
        radial-gradient(2.5px 2.5px at 30% 70%, #39add7, transparent),
        radial-gradient(2px 2px at 80% 20%, #ffffff, transparent);
    background-size: 400px 400px;
    opacity: 0.7;
    animation: movimientoAtomicoInv 90s linear infinite;
    pointer-events: none;
    z-index: 2;
}

/* Animaciones fondo */
@keyframes movimientoAtomico {
    from { transform: rotate(0deg) translate(0, 0); }
    to { transform: rotate(5deg) translate(-10%, -10%); }
}

@keyframes movimientoAtomicoInv {
    from { transform: rotate(0deg) translate(0, 0); }
    to { transform: rotate(-5deg) translate(10%, 10%); }
}

/* ============================= */
/*  METEORITOS */
/* ============================= */
.meteorito {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    opacity: 0;
    z-index: 5;
    pointer-events: none;
}

.meteorito::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

/* Variaciones */
.m1 {
    top: 50px;
    right: 10%;
    animation: meteoritoAnim1 8s linear infinite;
    animation-delay: 1s;
}

.m2 {
    top: 25%;
    left: -50px;
    animation: meteoritoAnim2 12s linear infinite;
    animation-delay: 5s;
    filter: blur(1px);
}

.m3 {
    top: 10%;
    left: -50px;
    animation: meteoritoAnim3 18s linear infinite;
    animation-delay: 10s;
    filter: blur(2px);
}

.m4 {
    top: 40%;
    left: -100px;
    animation: meteoritoCentro 10s linear infinite;
    animation-delay: 2s;
    filter: blur(0.5px);
}
.m4 {
    box-shadow: 0 0 0 4px rgba(255,255,255,0.15), 0 0 30px rgba(255,255,255,1);
}

/* Ajuste cola */
.m2::before,
.m3::before,
.m4::before {
    right: 50%;
    background: linear-gradient(-90deg, #fff, transparent);
}


.m1 { transform: scale(1); filter: blur(0px); }
.m2 { transform: scale(0.7); filter: blur(1px); }
.m3 { transform: scale(0.4); filter: blur(2px); }
.m4 {transform: scale(0.4); filter: blur(0.5px);}
.m1 { animation-delay: 0s; }
.m2 { animation-delay: 2s; }
.m3 { animation-delay: 4s; }
.m4 { animation-delay: 6s; }


@keyframes meteoritoAnim1 {
    0% { transform: rotate(-25deg) translate(0, 0); opacity: 0; }
    10% { opacity: 1; }
    40% { transform: rotate(-25deg) translate(-100vw) scale(0.2); opacity: 0; }
}

@keyframes meteoritoAnim2 {
    0% { transform: rotate(5deg) translateX(-100px); opacity: 0; }
    10% { opacity: 1; }
    45% { transform: rotate(5deg) translateX(120vw) scale(0.6); opacity: 0; }
}

@keyframes meteoritoAnim3 {
    0% { transform: rotate(25deg) translateX(-100px) translateY(-30px); opacity: 0; }
    10% { opacity: 1; }
    40% { transform: rotate(25deg) translateX(120vw) translateY(-30px) scale(0.3); opacity: 0; }
}

@keyframes meteoritoCentro {
    0% {transform: rotate(25deg) translateX(0) translateY(0) scale(1);opacity: 0;}
    10% {opacity: 1;}
    60% {transform: rotate(25deg) translateX(70vw) translateY(-30px) scale(0.5);opacity: 0.7;}
    100% {transform: rotate(25deg) translateX(100vw) translateY(-50px) scale(0.2);opacity: 0;}
}

/* ============================= */
/*  RESPONSIVE */
/* ============================= */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .brandColumn {
        width: 100%;
        height: auto;
        /*min-height: 40vh;*/
        min-height: 25vh;
        padding: 20px;
    }

    .logo {
        /*max-width: 250px;*/
        max-width: 280px;
    }

    .formColumn {
        width: 100%;
        background-color: #142050;
        padding-bottom: 50px;

        align-items: center;
    }
}